name: Build images

on:
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Build image
      run: |
        cd bind
        docker pull docker.io/library/alpine:latest
        docker inspect alpine:latest
        docker inspect alpine:latest | jq -r '.[]["Annotations"]["org.opencontainers.image.version"]'
        ALPINE_TAG=$(docker inspect alpine:latest | jq -r '.[]["Annotations"]["org.opencontainers.image.version"]')
        docker build -t docker.io/marvinsinister/bind:alpine-${ALPINE_TAG} --build-arg ALPINE_TAG=${ALPINE_TAG} --file Containerfile .
