name: Build images

on:
  workflow_dispatch:
  schedule:
    - cron: "42 1,7,13,19 * * *"

env:
  SERVICE_NAME: bind
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Get latest alpine version
      id: get_alpine_version
      run: |
        REPO="library/alpine"
        TAG=latest
        TOKEN=$(curl -s -H "Accept: application/json" "https://auth.docker.io/token?service=registry.docker.io&scope=repository:$REPO:pull" -u "${{ vars.DOCKERHUB_USER }}:${{ secrets.DOCKERHUB_TOKEN }}" | jq -r '.token')
        ALPINE_VERSION=$(curl -s -H "Accept: application/vnd.docker.distribution.manifest.v2+json" -H "Authorization: Bearer ${TOKEN}" "https://registry-1.docker.io/v2/$REPO/manifests/$TAG" | jq -r '.["manifests"][0]["annotations"]["org.opencontainers.image.version"]')
        echo "ALPINE_VERSION=$ALPINE_VERSION" >> "$GITHUB_ENV"
        echo "::notice title=Build ${{ env.SERVICE_NAME }} container::alpine:latest version is ${VERSION}"

    - name: Get ${{ env.SERVICE_NAME }} version
      id: get_service_version
      run: |
        podman pull alpine:${{ env.ALPINE_VERSION }}
        SERVICE_VERSION=$(podman run -it alpine:${{ env.ALPINE_VERSION }} sh -c 'apk update > /dev/null ; apk info bind | head -1 | cut -d" " -f1')
        echo "SERVICE_VERSION=$SERVICE_VERSION" >> "$GITHUB_ENV"

    - name: Check if already built
      id: check_version_exists
      run: |
        REPO="marvinsinister/${{ env.SERVICE_NAME }}"
        TAG=${{ env.SERVICE_VERSION }}-alpine
        echo "TAG=$TAG" >> "$GITHUB_ENV"
        TOKEN=$(curl -s -H "Accept: application/json" "https://auth.docker.io/token?service=registry.docker.io&scope=repository:$REPO:pull" -u "${{ vars.DOCKERHUB_USER }}:${{ secrets.DOCKERHUB_TOKEN }}" | jq -r '.token')
        echo "::add-mask::$TOKEN"
        echo "TOKEN=$TOKEN" >> "$GITHUB_ENV"
        HTTP_CODE=$(curl -w "%{http_code}" -o /dev/null -s -H "Accept: application/vnd.docker.distribution.manifest.v2+json" -H "Authorization: Bearer ${TOKEN}" "https://registry-1.docker.io/v2/$REPO/manifests/$TAG")
        if [[ $HTTP_CODE != "200" ]] ; then
          echo "::notice title=Build ${{ env.SERVICE_NAME }} container::Image for ${{ env.SERVICE_NAME }} with version ${{ env.SERVICE_VERSION }} doesn't exist."
          echo "VERSION_EXISTS=false" >> "$GITHUB_ENV"
          
        else
          echo "::notice title=Build ${{ env.SERVICE_NAME }} container::Image for ${{ env.SERVICE_NAME }} with version ${{ env.SERVICE_VERSION }} already exists."
          echo "VERSION_EXISTS=true" >> "$GITHUB_ENV"
        fi

    - name: Check if alpine changed
      id: check_alpine_changed
      if: ${{ env.VERSION_EXISTS == 'true' }}
      run: |
        BASE_IMAGE=$(curl -s -H "Accept: application/vnd.docker.distribution.manifest.v2+json" -H "Authorization: Bearer ${{ env.TOKEN }}" "https://registry-1.docker.io/v2/$REPO/manifests/${{ env.TAG }}" | jq -r '.["annotations"]["org.opencontainers.image.base.name"]')
        if [[ $BASE_IMAGE != "alpine:${{ env.ALPINE_VERSION}}" ]] ; then
          echo "::notice title=Build ${{ env.SERVICE_NAME }} container::Base image for ${{ env.SERVICE_NAME }} with version ${{ env.SERVICE_VERSION }} changed from $BASE_IMAGE to alpine:${{ env.ALPINE_VERSION}}."
          echo "BASE_IMAGE_CHAGNED=true" >> "$GITHUB_ENV"
        else
          echo "::notice title=Build ${{ env.SERVICE_NAME }} container::Base image $BASE_IMAGE didn't change."
          echo "BASE_IMAGE_CHAGNED=true" >> "$GITHUB_ENV"
        fi
 

    - name: Build container
      id: build_container
      if: ${{ (env.VERSION_EXISTS == 'false' ) || (env.BASE_IMAGE_CHANGED == 'true') }}
      run: |
        REPO_SHA="$(git rev-parse HEAD)"
        cd "${{ env.SERVICE_NAME }}"
        podman build \
          --tag "docker.io/marvinsinister/${{ env.SERVICE_NAME }}:${{ env.TAG }}" \
          --build-arg="ALPINE_TAG=${{ env.ALPINE_VERSION }}" \
          --annotation="org.opencontainers.image.created=$(date --iso-8601=seconds)" \
          --annotation="org.opencontainers.image.base.name=alpine:${{ env.ALPINE_VERSION }}" \
          --annotation="org.opencontainers.image.revision=${REPO_SHA}" \
          --annotation="org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}#${REPO_SHA}" \
          --annotation="org.opencontainers.image.url=https://hub.docker.com/r/marvinsinister/${{ env.SERVICE_NAME }}" \
          --annotation="org.opencontainers.image.version=${{ env.TAG }}" \
          --annotation="org.opencontainers.image.authors=Marvin Sinister <marvin.sinister@gmail.com>" \
          .
        podman tag docker.io/marvinsinister/${{ env.SERVICE_NAME }}:${{ env.TAG }} docker.io/marvinsinister/${{ env.SERVICE_NAME }}:latest
        podman login -u ${{ vars.DOCKERHUB_USER }} -p ${{ secrets.DOCKERHUB_TOKEN }} docker.io
        podman push docker.io/marvinsinister/${{ env.SERVICE_NAME }}:${{ env.TAG }}
        podman push docker.io/marvinsinister/${{ env.SERVICE_NAME }}:latest
        echo "::notice title=Build ${{ env.SERVICE_NAME }} container::Build container docker.io/marvinsinister/${{ env.SERVICE_NAME }}:${{ env.TAG }}"
