name: Build images

on:
  workflow_dispatch:
  schedule:
    - cron: "42 1,7,13,19 * * *"

env:
  IMAGE_NAME: bind
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Get latest alpine version
      id: get_alpine_version
      run: |
        REPO="library/alpine"
        TAG=latest
        TOKEN=$(curl -s -H "Accept: application/json" "https://auth.docker.io/token?service=registry.docker.io&scope=repository:$REPO:pull" -u "${{ vars.DOCKERHUB_USER }}:${{ secrets.DOCKERHUB_TOKEN }}" | jq -r '.token')
        VERSION=$(curl -s -H "Accept: application/vnd.docker.distribution.manifest.v2+json" -H "Authorization: Bearer ${TOKEN}" "https://registry-1.docker.io/v2/$REPO/manifests/$TAG" | jq -r '.["manifests"][0]["annotations"]["org.opencontainers.image.version"]')
        echo "VERSION=$VERSION" >> "$GITHUB_ENV"
        echo "::notice title=Build ${{ env.IMAGE_NAME }} container::alpine:latest version is ${VERSION}"

    - name: Check if already built
      id: check_container_exists
      run: |
        REPO="marvinsinister/${{ env.IMAGE_NAME }}"
        TAG=${{ env.VERSION }}-alpine
        echo "TAG=$TAG" >> "$GITHUB_ENV"
        TOKEN=$(curl -s -H "Accept: application/json" "https://auth.docker.io/token?service=registry.docker.io&scope=repository:$REPO:pull" -u "${{ vars.DOCKERHUB_USER }}:${{ secrets.DOCKERHUB_TOKEN }}" | jq -r '.token')
        HTTP_CODE=$(curl -w "%{http_code}" -o /dev/null -s -H "Accept: application/vnd.docker.distribution.manifest.v2+json" -H "Authorization: Bearer ${TOKEN}" "https://registry-1.docker.io/v2/$REPO/manifests/$TAG")
        if [[ $HTTP_CODE != "200" ]] ; then
          echo "::notice title=Build ${{ env.IMAGE_NAME }} container::Building for alpine:${{ env.VERSION }}."
          echo "BUILD_NEW_VERSION=true" >> "$GITHUB_ENV"
          
        else
          echo "::notice title=Build ${{ env.IMAGE_NAME }} container::Image for alpine:${VERSION} already exists. Skipping."
          echo "BUILD_NEW_VERSION=false" >> "$GITHUB_ENV"
        fi

    - name: Build container
      id: build_container
      if: ${{ env.BUILD_NEW_VERSION == 'true' }}
      run: |
        REPO_SHA="$(git rev-parse HEAD)"
        cd "${{ env.IMAGE_NAME }}"
        podman build \
          --tag "docker.io/marvinsinister/${{ env.IMAGE_NAME }}:${{ env.TAG }}" \
          --build-arg="ALPINE_TAG=${VERSION}" \
          --annotation="org.opencontainers.image.created=$(date --iso-8601=seconds)" \
          --annotation="org.opencontainers.image.base.name=alpine:$VERSION" \
          --annotation="org.opencontainers.image.revision=${REPO_SHA}" \
          --annotation="org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}#${REPO_SHA}" \
          --annotation="org.opencontainers.image.url=https://hub.docker.com/r/marvinsinister/${{ env.IMAGE_NAME }}" \
          --annotation="org.opencontainers.image.version=${{ env.TAG }}" \
          --annotation="org.opencontainers.image.authors=Marvin Sinister <marvin.sinister@gmail.com>" \
          .
        podman tag docker.io/marvinsinister/${{ env.IMAGE_NAME }}:${{ env.TAG }} docker.io/marvinsinister/${{ env.IMAGE_NAME }}:latest
        podman login -u ${{ vars.DOCKERHUB_USER }} -p ${{ secrets.DOCKERHUB_TOKEN }} docker.io
        podman push docker.io/marvinsinister/${{ env.IMAGE_NAME }}:${{ env.TAG }
        podman push docker.io/marvinsinister/${{ env.IMAGE_NAME }}:latest
        echo "::notice title=Build ${{ env.IMAGE_NAME }} container::Build container docker.io/marvinsinister/${{ env.IMAGE_NAME }}:${{ env.TAG }}"
